# GitHub auto-requests review from these owners on every PR.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything in the repo.
*       @knazir
