# A template for the environment variables used in both local and deployed environments.
# Create a copy of this file as ".env".
# Fill out your environment variables here.
# NEVER submit your .env file with secure access keys to Git, GitHub, etc.

# ------------------------------------------------------------------------------
# Backend Base Configuration
# - By default, the backend will run locally on your machine using Docker
# - For production, set EXEC_MODE to "lambda" to use AWS Lambda
# ------------------------------------------------------------------------------
EXEC_MODE=local             # What mode to run the backend in ("local" or "lambda")
PORT=3000                   # The port to expose the backend on
USER_CODE_FILE_PREFIX=main  # A prefix to use for all user code files

# ------------------------------------------------------------------------------
# General AWS Configuration
# - AWS settings used across different tools
# ------------------------------------------------------------------------------
# AWS_REGION=                 # The region your AWS cluster and services are located in

# ------------------------------------------------------------------------------
# Backend AWS Configuration (Lambda Mode)
# - Used by the backend when running in Lambda mode
# - In an AWS deployment, these values are expected to be setup by Copilot manifests
# - The .env file is primarily for local development and testing
# ------------------------------------------------------------------------------
# AWS_ACCESS_KEY=             # Your account's AWS access key, only used outside a deployed app
# AWS_SECRET_ACCESS_KEY=      # Your account's AWS secret access key, only used outside a deployed app
# LAMBDA_FUNCTION_NAME=       # The name of your Lambda function for code execution
# TRACESTORE_NAME=            # (Optional) The name of the S3 bucket for trace caching
