[submodule "code-runner/SPP-Valgrind"]
	path = code-runner/SPP-Valgrind
	url = git@github.com:knazir/SPP-Valgrind.git
[submodule "code-runner/valgrind"]
	path = code-runner/valgrind
	url = https://sourceware.org/git/valgrind.git
