# macOS
.DS_Store

# IDE
.idea/

# Claude Code
.claude/
CLAUDE.md

# Temporary Files
tmp/

# Environment Variables
.env*
!.env.dev.template
!.env.prod.template

# AWS Copilot
copilot/.workspace
copilot/environments/*/secrets