[submodule "code-runner/fargate/SPP-Valgrind"]
	path = code-runner/fargate/SPP-Valgrind
	url = git@github.com:knazir/SPP-Valgrind.git
[submodule "code-runner/lambda/valgrind"]
	path = code-runner/lambda/valgrind
	url = git@github.com:knazir/SPP-Valgrind-New.git
