.editor {
    overflow: hidden;
    background-color: #181818;
}

.tabBar {
    display: flex;
    border: solid 1px #282828;
}

.fileTab {
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 0.35em 0.75em;
    background-color: #1e1e1e;
    border-top: solid 1px #0078d4;
    font-size: 0.5em;
}

.fileTab > img {
    width: 1em;
    height: 1em;
}