* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 25%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ide {
  height: 100%;
}

.split-view {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 75%;
}

.split-panel {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.code-panel {

}

.vis-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 5%;
  background-color: teal;
  color: black;
  padding: 5px;
  left-margin: 5px;
  background-clip: border-box;
}

.box-content {
  width: 100%;
  height: 95%;
  border: 2px solid teal;
  border-radius: 0px 0px 20px 20px;
  padding: 5px;
  left-margin: 5px;
  bottom-margin: 5px;
}

.output {
  width: 100%;
  height: 50px;
}

.output-text {
  height: 50px;
  text: pre;
  white-space:pre-wrap;
  font-family: "courier", monospace;
  overflow: auto;
}

.visualization {
  widht: 100%;
  height: 80%
}

