* {
  box-sizing: border-box;
}

body {
  margin: 0 15px 15px 15px;
  padding: 0 10px 10px 10px;
  font-family: Menlo, monospace;
  font-size: small;
  background-color: #f7fbff;
  overflow: hidden;
}

h3 {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

.ide {
  height: 100%;
}

.codeArea {
  flex: 1 1 auto;
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: white;
}

.codeArea.disabled {
  background-color: #f4f4f4;
}

.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.CodeMirror-lines.disabled {
  cursor: default;
}

.split-view {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95%;
}

.split-bar {
  width: 15px;
}

.split-panel {
  width: calc(50% - 2px);
  height: 100%;
  padding: 10px;
}

.visualization canvas {
  border-radius: 0 0 10px 10px;
}

.visualization {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.code-panel {
  width: 40%;
}

.vis-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 60%;
}

.box-title {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  min-height: 28px;
  background-color: #e2e2e2;
  color: black;
  padding: 5px;
  margin-left: 5px;
  background-clip: border-box;
}

.split {
  justify-content:space-around;
  align-items: stretch;
}

.split-line {
  border-left: 1px solid;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  color: #e2e2e2;

}

.box-content {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 0 0 10px 10px;
  margin-left: 5px;
  background-color: white;
  margin-bottom: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.output-text {
  height: 90px;
  white-space:pre-wrap;
  overflow: auto;
}

.cm-s-default {
  border-radius: 0 0 10px 10px;
}

.button-panel {
  display: flex;
  justify-content: center;
  height: 10%;
}

.button-panel button {
  background-color: white; /* we need to explicitly set this for windows apparently */
}

.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-button {
  height: 28px;
}

.step-button-bar {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 2px;
}

.smaller-button {
  font-size: x-small;
  border-radius: 50%;
  margin: 5px;
}

.bigger-button {
  font-size: medium;
  border-radius: 50%;
  margin: 5px;
  padding: 5px 10px;
}

.play-button {
  font-size:x-large;
  border-radius: 50%;
  padding: 3px 11px 4px 13px;
  margin: 5px;
}

.stop-play-button {
  font-size:x-large;
  border-radius: 50%;
  padding: 3px 12px 4px 12px;
  margin: 5px;
}


button {
  border: solid .5px #8db8e7;
  border-radius: 10px;
  color: #8DB8E7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px 0 5px;
  padding: 7px;
  font-size: small;
  font-family: Menlo, monospace;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

button:disabled {
  background-color: #f4f4f4;
  color: #e2e2e2;
  border: solid .5px #e2e2e2;
  cursor: default;
}

.stop-button {
  border: solid .5px rgb(255,127,127);
  color: rgb(255,127,127);
}

button:focus {
  outline: 0;
}

button:hover:enabled, button.active {
  background-color: #8DB8E7;
  color: #ffffff;
}

.stop-button:hover:enabled {
  background-color: rgb(255,127,127);
  color: #ffffff;
}

.loader {
  margin: 10px 10px 0 10px; /* Same as button */
  border: 4px solid #8DB8E7;
  border-top: 4px solid #f4f4f4;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.active-code {
  background-color: #fbff98;
}

.exception-message {
  color: red;
}

.copyright{
  font-size: small;
  text-align: center;
}

.CodeMirror-gutter-elt.unclickable {
  cursor: default;
}

.CodeMirror-gutter-elt.unclickable:hover {
  background-color: #f7f7f7;
}

@media only screen and (max-width: 650px) {
  body {
    overflow: auto;
  }

  .App {
    height: 100%;
  }

  .split-view {
    flex-direction: column;
  }

  .split-panel {
    width: 100%;
  }

  .split-bar {
    width: 0;
  }
}
