* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Menlo, monospace;
  font-size: medium;
}

h3 {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
}

.ide {
  height: 100%;
}

.split-view {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 95%;
}

.split-panel {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.vis-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 5%;
  background-color: teal;
  color: black;
  padding: 5px;
  margin-left: 5px;
  background-clip: border-box;
}

.box-content {
  width: 100%;
  height: 95%;
  border: 2px solid teal;
  border-radius: 0 0 20px 20px;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.output-text {
  height: 90px;
  white-space:pre-wrap;
  overflow: auto;
}

.visualization {
  width: 100%;
  height: 80%
}

button {
  border: solid 2px teal;
  border-radius: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px 0 10px;
  padding: 5px;
  font-size: medium;
  font-family: Menlo, monospace;
  cursor: pointer;
  user-select: none;
}

button:focus {
  outline: 0;
}

.loader {
  margin: 10px 10px 0 10px; /* Same as button */
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.active-code {
  background-color: yellow;
}

